<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortner</title>
</head>
<body>
  <h1>
    Url Shortner
  </h1>
  <div>
    <form id="form-shortner">
      <input id="url" type="text" placeholder="URl">

      <button type="submit">
        Send
      </button>
    </form>

    <p id="msg"></p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    const form = document.getElementById('form-shortner')

    form.addEventListener('submit', e => {
      e.preventDefault()

      const urlToShort = document.getElementById('url').value
      const data = { url: urlToShort }

      axios.post('/api/urls', data)
        .then(response => {
          const p = document.getElementById('msg')

          p.innerHTML = `Shortned url: <a href=${response.data.newUrl}>${response.data.newUrl}</a>`
        })
        .catch(error => {
          alert('Error: ' + error.response.data.error)
        })
    })
  </script>
</body>
</html>
